<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/login.css">

<div class="full">
<div class="row mb-3 logInCard">
    <h1 class="text-center">Log In</h1>
    <div class="mb-1">
        <form action="/login" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label class="form-label" for="username">Username:</label>
                <input class="form-control" type="text" id="username" name="username" autofocus required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password:</label>
                <input class="form-control" type="password" id="password" name="password" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="text-center">
                <button style="width: calc(100%);" class="btn btn-success">Log In</button>
            </div>
        </form>
    </div>
    <div>
        <form action="/register">
            <div class="text-center">
                <button style="width: calc(100%);" class="btn btn-primary">Sign Up</button>
            </div>
        </form>
    </div>
</div>
</div>

